body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.header {
    width: 1400px;
    font-weight: bold;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.child {
    flex: 1;
    text-align: center;
    margin: 0 10px;

}

#logo {
    margin-left: auto;
}

#logo img {
    height: 44px;
    width: 164px;
    margin: 10px;
    margin-left: 94px;
    margin-right: 200px;
}

.child a {
    text-decoration: none;
    margin: 0 16px;
    color: white;
    transition: 400ms;
    font-size: 20px;
}

.child a:hover {
    color: #00c3ff;
}
.child a.active {
    color: #00c3ff;
}

#lf {
    text-align: right;
}

#sign_in {
    padding: 10px;
}

#sign_up {
    border: 1px solid white;
    padding: 10px;
    border-radius: 6px;
}

#sign_up:hover {
    background-color: #00ffd9;
    color: #5b5b5b;;
}

.content {
    display: flex;
    color: white;
    margin: 60px 80px 0 64px;
}

.content h1{
    font-size: 48px;
    margin: 0 0 8px 4px;
}

.content p {
    font-size: 20px;
    margin-right: 92px;
}


.it_images {
    margin-top: 72px;
}

#imgs1 img {
    width: 260px;
    height: 160px;
    border: 1px solid #ffffff80;
}

#imgs2 img {
    width: 260px;
    height: 160px;
    margin: 0 4px;
    margin-right: 16px;
    border: 1px solid #ffffff80;
}